/.vscode
/22L-6544 -- Homework3.asm
/AFD.EXE
/ARSE.COM
/ASM.COM
/Activity4.asm
/Activity5.asm
/Activity6(A).asm
/Activity6(B).asm
/COAL Lab4 -- 22L-6544.asm
/Coal Lab3.asm
/GOFISH.COM
/HOMEWORK.COM
/HOMEWORK.LST
/HW.COM
/HW.asm
/HW4.COM
/HW4.asm
/Homework.asm
/LAB.COM
/LAB3.COM
/LAB6.COM
/LICENSE
/Lab 5 -- 22L-6544.asm
/Lab Quiz 1 -- 22L-6544.asm
/Lab.asm
/Lab3.asm
/Lab3Q1.lst
/Lab3Q2.asm
/Lab3Q3.asm
/Lab4.asm
/Lab6.asm
/Lab6Q3.asm
/MID.COM
/MID1.COM
/Mid1.asm
/PRINT.COM
/PRINT2.COM
/QUIZ
/QUIZ.COM
/QUIZ.LST
/README
/Slate
/Slate.cpp
/arse.asm
/cwsdpmi.doc
/cwsdpmi.exe
/fucking.asm
/game.dat
/gofish.asm
/nasm.exe
/nasmdoc.txt
/ndisasm.exe
/print1.asm
/print2.asm